
header {
    height: 40px;
    background-color: var(--primary-color);
}

header>div{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
header>div>span{
    margin-left:16px;
    color: var( --text-color-back);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

header>div>.isLive{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    background-color: red;
    text-transform: uppercase;
}

.isJoin{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    box-shadow: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.isJoin:hover{
    background-color: var(--secondary-color);
}
