.sixCard{ 
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 600px;
    background-color: #f4f4fa
}
.sixCard>div{
    width: 40%; 
    margin-left:5%; 
    margin-top:10%
}

.content{
    position: absolute;
    z-index: 100;
}

.content>h1{
    font-size: 56px;
}

.content>p{
  margin-bottom: 40px;  
}

.background-img{
    position:absolute; 
    width:100%;
    object-fit:fill; 
    z-index: 99;
    max-height: 600px;
}